
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Lista de departamentos</title>
        <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" >
        <link rel="stylesheet" href="{% static 'styles.css' %}">  
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
        {% comment %} yesy {% endcomment %}
        {% comment %} test {% endcomment %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    
    </head>
    <body>
        <div clas="container">
            <div class="row">
                
                <div class="col-md-5 offset-md-2 mt-3"> 
                    <a href="{% url 'home' %}" class="btn btn-link text-primary">
                        <img src="{% static 'icon/home.png' %}" alt="Home Image">
                    </a>
                    <h2 class="text-center">Departamentos</h2>
                    <table class="table">
                        <thead>
                            <tr>
                              
                                <th scope="col">Departamento</th>
                                <th scope="col">Descripcion</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            {% for department in departments %}
                                <tr>
                                    
                                    <td>{{ department.id }}</td>
                                    <td>{{ department.department }}</td>
                                    <td>{{ department.description}}</td>
                                   
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
             
                <div class="col-md-2 text-end mt-3"> 
                    <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'add_department' %}'">Agregar</button>
                </div>
                <div class="col-md-1 text-end mt-3"> 
                    {% if departments %}
                        <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Eliminar</button>
                
                    
                        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmDeleteModalLabel">Que departamento desea eliminar</h5>
                                        <a href="{% url 'departmentlist' %}" class="d-flex justify-content-center text-center close-btn" aria-label="Close">
                                            <i class="align-self-center gg-close"></i>
                                        </a>
                                    </div>
                                    <div class="modal-body">
                                      
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    
                                                    <th scope="col">Departamento</th>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for department in departments %}
                                                    <tr>
                                                        
                                                        <td>{{ department.department }}</td>
                                                        
                                                        <td>
                                                            <a href="{% url 'remove_department' department.id %}" class="btn btn-danger">Eliminar</a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{% url 'departmentlist' %}" class="btn btn-secondary mt-3" >Cancelar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
       
        <script>
            document.getElementById('confirmDeleteBtn').addEventListener('click', function() {
                $('#confirmDeleteModal').modal('show');
            });
        </script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>




    </body>
</html>